[Unit]
Description=Andon Light Controler Button Background Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u alctrl_btn.py
WorkingDirectory=/home/pi/alctrl
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target